
.msgWrapper {
    overflow: hidden;
  }
  .msgHistoryContainer {
    display: grid;
    grid-area: msgbody;
    overflow: hidden;
    overflow-y: scroll;
    height: 700px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .singleMsg {
    // display: flex;
    display: grid;
    background-color: #f7f0f0;
    border-radius: 5px;
    padding: 20px;
    grid-template-areas: 
      "nick"
      "message"
      "timestamp";
    align-items: center;
    margin: 5px;
    margin-bottom: 15px;
    width: fit-content;

  }
  
  .singleMsg.sent {
    background-color: #eccfcf;
    justify-self: end;
  }
  
  .singleMsg.received {
    justify-content: flex-start;
  }
  
  .nick {
    grid-area: nick;
    font-weight: bold;
  }
  
  .message {
    grid-area: message;
    word-wrap: break-word;
    margin: 5px 0;
    margin-right: 5px;
    padding-bottom: 4px;
    font-size: 1.2rem;
  }
  
  .timestamp {
    grid-area: timestamp;
    font-size: 0.7rem;
    color: #999;
    margin-left: auto;
  }
  
  .messageInput {
    grid-area: messageInput;
    display: flex;
    margin-top: auto;
    height: 50px;
  }
  
  .messageInput input {
    flex: 1;
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .messageInput button {
    height: 100%;
    width: 80px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    background-color: #2196f3;
    cursor: pointer;
  }
  