.container {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
        "heading"
        "createRoom"
        "activeRooms";
    padding-top: 0;
    margin-top: 0;
}
.h1 {
    grid-area: heading;
}

.createRoomContainer {
    grid-area: createRoom;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 100%;
}

.activeRoomsContainer {
    grid-area: activeRooms;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 100%;
}

// .activeRoomList {
//     width: 100%;
//     max-width: 360px;
//     background-color: papayawhip;
// }

// .roomItem {
//     align-items: flex-start;
// }

// .usersInRoom {
//     display: inline;
//     font-variant: normal;
//     color: gray;
//     display: flex;

// }

// .roomList {
//     width: 100%;
//     max-width: 360px;
//     background-color: papayawhip;
// }

// .room {
//     align-items: flex-start
// }

// .usernames {
//     display: inline;
// }