.chatRooms{
    border: 1px solid red;
    display: grid;
    padding: 10px;

}

.activeRooms {
    margin-left: 20px;
  }

.chatRoomLis {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    margin-left: 10px;
}
.custom-button {
    background-color: #a9c1ce;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 300px;
    margin: 4px 2px;
    cursor: pointer;
    #usersInRoom {
        font-variant: normal;
        color: rgb(223, 217, 217);
        margin: 2px;
        font-size: 12px;
        text-align: left;
    }
  }
  
